@font-face {
  font-family: 'Styrene';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Styrene-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Styrene-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Styrene-700.woff2') format('woff2');
}
